<div id="headerSection">
    <h2>Burger bucket list!</h2>
</div>


{{!-- Uneaten Burgers --}}



<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>Add a burger to your bucket list!</p>
            <input id="burgerName" type="text" placeholder="Burger name">
            <button id="addBurger" type="button">Add</button>
        </div>
        <div class="col-md-auto">
            <p class="text-light bg dark"> Burgers to be eaten! </p>
            {{#each burger}}
            {{#unless devoured}}
            {{this.burger_name}}
            <button class="eat_me">Eat me!</button>
            <br>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-auto">
            <p class="text-light bg dark"> Eaten burgers! </p>
            {{#each burger}}
            {{#if devoured}}
            {{this.burger_name}}
            <button class="repeat"> Eat me again!</button>
            <br>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>


<div class="footer">
    <p>Created By Svitlana
        <a href="mailto:szaster@protonmail.com"></a>
    </p>
</div>