<div id="headerSection">
    <h2>Burger bucket list!</h2>
</div>


{{!-- Uneaten Burgers --}}



<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h2>Add a burger to your bucket list!</h2>
            {{!-- <p style="color:whitesmoke;">Add a burger to your bucket list!</p> --}}
            <input id="burgerName" type="text" placeholder="Burger name">
            <button id="addBurger" type="button">Add</button>
            <br><br><br>
        </div>
        <div class="col-md-auto">
            <p style="color:whitesmoke;"><strong>Burgers to be eaten:</strong> </p>
            {{#each burger}}
            {{#unless devoured}}
            {{this.burger_name}}
            <button class="eat_me" data-id="{{this.id}}">Eat me!</button>
            <br>
            {{/unless}}
            {{/each}}
        </div>
        <br><br>
        <div class=" col-md-auto">
            <p style="color:whitesmoke;"><strong>Eaten burgers:</strong> </p>
            {{#each burger}}
            {{#if devoured}}
            {{this.burger_name}}
            <button class="repeat" data-id="{{this.id}}"> Eat me again!</button>
            <br>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>


<div class="footer">
    <p>Created By Svitlana
    </p>
</div>