<div id="headerSection">
    <h2>Burger eater app! Eat The Yummy Burger!</h2>
</div>


{{!-- Uneaten Burgers --}}



<div class="container">
    <div class="row">
        <div class="col-sm">
            <input id="burgerName" type="text" placeholder="Burger name:">
            <button id="addBurger" type="button">Add Burger</button>
        </div>
        <div class="col-sm">
            <p class="text-light bg dark"> Burgers to be eaten! </p>
            {{#each burger}}

            {{#unless devoured}}
            {{this.burger_name}}
            <button class="eat_me">Eat me!</button>
            <br>
            {{/unless}}
            {{/each}}
            </p>
        </div>
        <div class="col-sm">
            <p class="text-light bg dark"> Eaten burgers! </p>

            {{#each burger}}
            {{#if devoured}}
            {{this.burger_name}}
            <button class="repeat"> Eat me again!</button>
            <br>
            {{/if}}
            {{/each}}

            </p>
        </div>

    </div>
</div>


<div class="container">

</div>

<div class="footer">
    <p>Created By Svitlana
        <a href="mailto:szaster@protonmail.com"></a>
    </p>
</div>